<div class="wrapper-party">
  <%= image_tag "2form.png", class:"image_form"%>
  <div class="container party">
    <h1 style="text-align: center;">New Booking</h1>
    <%= render "form", booking: @booking %>
  </div>
</div>
