.btn-ghost {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  // opacity: 1;
  color: #01ffff;
  border: 2px solid #01ffff;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-ghost-black{
  color: black;
  border: 2px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  &:hover {
    // opacity: 1;
    color: #01ffff;
    border: 2px solid #01ffff;
  }
}

.btn-ghost-search {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: transparent;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-search:hover {
  // opacity: 1;
  color: #01ffff;
  border: 2px solid #01ffff;
}

.btn-ghost-fill {
  color: white;
  border: 2px solid white;
  background-color: rgb(3, 165, 165);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost-fill:hover {
  // opacity: 1;
//  color: #01ffff;
  //text-shadow:   #01ffff 1px 0px , #ff00ff -1px 0px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.btn-ghost-search-home {
  color: white;
  font-size: 40px;
  letter-spacing: 20px;
  width: 500px;
  align-self: center;
  // background-color: transparent;
  // border: none;
  //padding: 8px 24px;
  //font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost-search-home:hover {
  // opacity: 1;
  color: white;
  text-shadow: #01ffff -2px 0px , #ff00ff 2px 0px;
  width: larger;
}

.btn-sm{
  background-color: none;
  border-color: transparent;
  border-width: 0ch;
}

.btn-cancel{
  color: transparent;
}
