.card-product {
  overflow: hidden;
  height: 170px;
  background: #28292b;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 15px auto;
  border-radius: 5px;
  &:hover{
    transform: scale(1.025);
    transition: 1s;
    .btn-cancel{
      color:#01ffff;
    }
  }
}


.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}
@media(max-width:768px){
  .card-product h2{
    font-size: 15px;
  }
  .card-product p{
    font-size: 12px;
  }
  .card-product img {
	  width: 35vw;
	}
  .card-product .card-product-infos {
    padding: 5px;
  }
}

@media(min-width:769px){
  .card-product h2{
    font-size: 27px;
  }
  .card-product p{
    font-size: 15px;
  }

.card-product .card-product-infos {
  padding: 16px;
}
}

.bookings-title {
  text-align: center;
  margin: 20px;
}

.card-product h2 {
  //font-size: 27px;
  font-weight: bold;
  margin: 0;
  a{
    text-decoration: none;
    color: white;
  }
}

.card-product p {
  //font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 1.2vh;
}

.card-product .card-product-infos {
  width: 90%;
}

.card-product .card-product-actions {
  width: 10%;
}

.pricebooking{
  color: #01ffff;
  p{
    font-size: 16px;
  }
}
