.flatpickr-day.startRange {
  background: #01ffff ! important;
  border-color: #01ffff ! important;
}

.flatpickr-day.endRange {
  background: #01ffff ! important;
  border-color: #01ffff ! important;
}
