#home-logo{
  color: white;
  text-align: center;
  font-style: bold;
  font-size: 13vw;
  font-weight: 1000;
  letter-spacing: 5px;
  text-shadow: #01ffff -6px 0px , #ff00ff 6px 0px;
}

#wrapper-fijo {
  position: relative;
}
.floating-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
