.navbar-lewagon {
  justify-content: space-between;
  background: #202124;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}

.nav-link {
  color: white;
}
