
#search {
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 8px 24px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: lighter;
    border-right:transparent;
    width: 450px;
    // display: flex;
    // justify-content: center;
  }

  .search-div {
    justify-content: center;
  }
