
#search {
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 8px 24px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: lighter;
    border-right:transparent;
    width: 450px;
    // display: flex;
    // justify-content: center;
  }

  .search-div {
    justify-content: center;
  }


  #search-home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }

  #search-home {
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: white;
    border-radius: 2px;
    padding: -3px;
    font-weight: lighter;
    border-right:transparent;
  }

  @media(max-width:768px){
    #search-home{
      height: 30px;
    }
    #search-home-div{
      align-items: center;
      height: 30px;
    }
  }
