// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "pages/index";
@import "components/index";

// @import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
// @import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "flatpickr/dist/flatpickr";
