<div class="wrapper-party">
  <%= image_tag "1form.png", class:"image_form"%>
  <div class="container party">
    <h1 style="text-align: center;">Edit your <strong><%= @place.name %></strong></h1>
    <%= render "form", place: @place %>
  </div>
</div>
