<div class="wrapper-party">
  <%= image_tag "1form.png", class:"image_form"%>
  <div class="container party">
    <h1 style="text-align: center;">Add a new venue <%= @place.name %></h1>
    <%= render "form", place: @place %>
  </div>
</div>
